:host {
    display: inline-block;
    position: relative;
    .mat-button {
        height: 100%;
        width: 100%;
    }
    .login-wrapper {
        display: none;
        &.visible {
            display: block;
        }
        position: absolute;
        right: 0;
    }
}
